body{
	background-color: grey;
}
#page{
	left: 50%;
	right: 50%;
	margin-left: 50px;
	background-color:white;
	width: 830px;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;

}
#panier{
background-color: #45d022;
width: 250px;
height: 600px;
display: inline-block;
padding-left: 20px;
border-radius: 10px 0 0px 10px;
    font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}
#container{
background-color: #44afee;
width: 500px;
height: 600px;
display: inline-block;
padding-left: 20px;
position: absolute;
margin-left: 8px;
}
.articles{
	height: 200px;
	width: 400px;
	background-color:#44bfee; 
	border: 2px purple solid;
	border-radius: 8px;
	padding:5px;
}
.ajouter_au_panier{
	background-color: orange;
	border: 1px white solid;
	padding: 10px 15px 10px 15px;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: 20px;
	transition: transform .3s ease-in-out, border .2s ease-in-out;

}
.ajouter_au_panier:hover{
transform: scale(.97);
background-color: #ee8811;
}
.image_article{
	height: 200px;
	width:200px ;
	border-radius: 7px
}
.description_article{
	display: inline-block;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	height: 100px;
	max-width: 170px;
	font-size: 18px;

}
#image_panier{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
	margin-top: 20px;
}
h3{
	display: inline-block;
}